  
 <div id="perspective" class="perspective effect-rotateleft">
    
   <div class="slamcontainer">
  <!-- navbar -->
  <div data-ng-include=" 'tpl/blocks/header.html' " class="app-header navbar">
  </div>
  <!-- / navbar -->

  <!-- menu -->
  <div data-ng-include=" 'tpl/blocks/aside.html' " class="app-aside hidden-xs {{app.settings.asideColor}}">
  </div>
  <!-- / menu -->


  <!-- content -->
  <div class="app-content">
    <div ui-butterbar></div>
    <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside" ></a>
    <div class="app-content-body animated fadeInRight" style="padding-top:50px;" ui-view></div>
	
  </div>
  <!-- /content -->
  
 

  <div data-ng-include=" 'tpl/blocks/settings.html' " class="settings panel panel-default">
  </div>
   </div>
   
   <nav class="outer-nav left vertical">
				<a ui-sref="app.dashboard-v1" ng-click="app.settings.menuFolded = false" class="icon-home" >Home</a>
				<a ui-sref="app.newForm.profile" ng-click="app.settings.menuFolded = false"  class="icon-mail">Add new Friends</a>
				<a href="#" class="icon-lock">Settings</a>
			</nav>
			
			
</div>

<button ui-sref="app.newForm.profile" class="btn btn-rounded btn-lg btn-icon btn-info pull-right add-f "><i class="fa glyphicon-plus"></i></button>